/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/09/2016, 15:16:26
    Author     : felipe
*/
#Bindex{
    background-image: url(../Documentos/Imagens/background_index.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#subs{
    background-color: #c7cbc7;
}

#corpo{
    margin-left: 6%;
    margin-right: 6%;
    padding: 1px 10px 10px 10px;
}

h1{
    padding: 0px;
    margin-left: 20%;
    margin-top: -3%;
    font: 225% Arial;
    font-weight: bold;
}

h2{
    text-align: center;
}

p{
    font-weight: bold;
}

#img_logo{
    padding: 0px;
    margin-left: 16%;
}

#tabela_1_index{
    padding: 0px;
    margin-top: -5%;
    margin-left: 15%;
}

#index{
    list-style:none;
    font:100% Tahoma;
    font-weight: bold;
    border-left:15px solid #333333;
    line-height: 175%;  
}

#tabela_2_index{
    margin-top: 5%;
    margin-left: 18.4%;
    padding:10px;
    float: left;
    background-color:yellow;
    list-style:none;
    font:80% Tahoma;
    font-weight: bold;
    border-left:10px solid #333333;
    line-height: 175%;
}

